<%- include("partials/header.ejs")%>

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">THE PUBLIC SPACE</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Welcome to The Public Space – Your Voice, Your Platform! a dynamic blog platform where ideas, stories, and voices come together. Share your thoughts, explore diverse perspectives, and connect with a community that values open expression and meaningful discussions.</p>
      <p class="lead mb-4">A space where thoughts, stories, and ideas come to life. Whether you want to share your experiences, express your creativity, or engage in meaningful discussions, this is the place for you. Write, publish, and connect with a community that values your words. With an elegant interface and seamless functionality, The Public Space makes blogging effortless and enjoyable. Join us today and be part of a vibrant network where your voice truly matters. Start writing, start sharing, and make an impact—because every story deserves to be heard.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-dark btn-lg px-4 me-sm-3" id="btns" onclick="window.location.href='/login'">login</button>
        <button type="button" class="btn btn-dark btn-lg px-4" id="btns" onclick="window.location.href='/login'">Sign-up</button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      
    </div>
  </div>
  <%- include("partials/footer.ejs")%>
